{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Booking - RoomRadar</title>
    <link rel='stylesheet' href='{% static "bookings/css/editBooking.css" %}'>
</head>
<body>
    <div class='form-container'>
        <h1>Edit Booking</h1>

        <div class='room-info'>
            <div><strong>Room:</strong> {{ room.roomName }}</div>
            <div><strong>Date:</strong> {{ bookingDate|date:'l, d M Y' }}</div>
            <div><strong>Period:</strong> {{ period }}</div>
            <div><strong>Capacity:</strong> {{ room.capacity }}</div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class='error'>{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method='POST'>
            {% csrf_token %}
            <div class='form-group'>
                <label for='className'>Class Name</label>
                <input type='text' id='className' name='className' value='{{ booking.className }}' required>
            </div>

            <div class='form-group'>
                <label for='classSize'>Class Size</label>
                <input type='number' id='classSize' name='classSize' value='{{ booking.classSize }}' required min='1' max='{{ room.capacity }}'>
            </div>

            <button type='submit' name='action' value='update' class='update-btn'>Update Booking</button>
            <button type='submit' name='action' value='delete' class='delete-btn' onclick='return confirm("Are you sure you want to cancel this booking?");'>Cancel Booking</button>
        </form>

        <a href='{% url "teacherDashboard" %}' class='back-link'>Go Back</a>
    </div>
</body>
</html>
