{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Reset Teacher Password - RoomRadar</title>
    <link rel='stylesheet' href='{% static "bookings/css/resetPassword.css" %}'>
</head>
<body>
    <div class='form-container'>
        <h1>Reset Teacher Password</h1>

        {% if messages %}
            {% for message in messages %}
                <div class='error'>{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method='POST'>
            {% csrf_token %}
            <div class='form-group'>
                <label for='targetUsername'>Select Teacher</label>
                <input type='text' id='targetUsername' name='targetUsername' list='teachersList' required autocomplete='off'>
                <datalist id='teachersList'>
                    {% for teacher in teachers %}
                        <option value='{{ teacher.username }}'></option>
                    {% endfor %}
                </datalist>
            </div>

            <div class='form-group'>
                <label for='newPassword'>New Password (Optional if generating)</label>
                <input type='text' id='newPassword' name='newPassword' autocomplete='off'>
            </div>

            <button type='submit' name='action' value='manual' class='manual-btn'>Set Manual Password</button>
            <button type='submit' name='action' value='generate' class='generate-btn' formnovalidate>Generate Secure Password</button>
        </form>

        <a href='{% url "adminDashboard" %}' class='back-link'>Cancel</a>
    </div>
</body>
</html>
